@import "./../../utils/variables";

.CellButton {
	display: inline-block;
	width: $cellSize - $borderSize - $borderSize;
	height: inherit;
	outline: $borderSize solid black;
	padding: none;
	text-align: center;
	margin-left: $borderSize;
	animation: 0.5s ease-in-out 1 cellAnimation;
	animation-fill-mode: forwards;
}

@keyframes cellAnimation {
	0% {
		background-color: $mainColor;
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
		background-color: $mainColor;
	}
}

.CurrentWall {
	animation: 0.5s ease-in-out 1 wallAnimation;
	animation-fill-mode: forwards;
}

@keyframes wallAnimation {
	0% {
		background-color: $wallColor;
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
		background-color: $wallColor;
	}
}

.sampleAnimation {
	animation-name: visitedAnimation;
	animation-duration: 12s;
	animation-timing-function: ease-out;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

.StartPoint {
	background-color: $startPoint;
	animation: 0.1s linear 1;
	animation-fill-mode: forwards;
}

.FinishPoint {
	background-color: $finishPoint;
	animation: 0.1s linear 1;
	animation-fill-mode: forwards;
}

.cell-visited {
	background-color: #689f38;
	animation: 0.1s linear 1;
	animation-fill-mode: forwards;
}

.cell-shortestPath {
	animation: 1s linear 1 visitedAnimation;
	animation-fill-mode: forwards;
}

.mazeTemp {
	background-color: #58a5f0;
	animation: 0.1s linear 1;
	animation-fill-mode: forwards;
}

.mazeFinal {
	background-color: #004c8c;
	animation: 0.1s linear 1;
	animation-fill-mode: forwards;
}

@keyframes visitedAnimation {
	0% {
		transform: scale(0.3);
		background-color: #9c4dcc;
		border-radius: 1300%;
	}
	25% {
		transform: rotate(-90deg);
	}
	50% {
		transform: rotate(0deg);
		background-color: #6a1b9a;
		border-radius: 180%;
		transform: rotate(180deg);
	}

	75% {
		transform: scale(1.5);

		border-radius: 120%;
	}

	100% {
		transform: scale(1);
		background-color: #38006b;
		border-radius: 0%;
	}
}
