@import "./../../utils/variables";

.CellButton {
	display: inline-block;
	width: $cellSize - $borderSize - $borderSize;
	height: inherit;
	outline: $borderSize solid black;
	padding: none;
	text-align: center;
	background-color: $mainColor;
	margin-left: $borderSize;
}

.CurrentWall {
	animation: 0.2s ease-in-out 1 wallAnimation;
	animation-fill-mode: forwards;
}

@keyframes wallAnimation {
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
		background-color: $wallColor;
	}
}

.sampleAnimation {
	animation-name: visitedAnimation;
	animation-duration: 2s;
	animation-timing-function: ease-out;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

.StartPoint {
	background-color: $startPoint;
}

.FinishPoint {
	background-color: $finishPoint;
}

.cell-visited {
	background-color: red;
}

.cell-shortestPath {
	background-color: green;
}

@keyframes visitedAnimation {
	0% {
		transform: scale(0.3);
		background-color: rgba(146, 146, 151, 0.75);
		border-radius: 100%;
	}

	50% {
		background-color: rgba(86, 87, 88, 0.75);
	}

	75% {
		transform: scale(1.2);
		background-color: rgba(66, 68, 67, 0.75);
	}

	100% {
		transform: scale(1);
		background-color: $wallColor;
	}
}
