@import "./../../utils/variables";

.Cell {
	margin-left: -$borderSize;
	margin-bottom: -$borderSize;
	display: inline-block;
	width: $cellSize;
	height: $cellSize;
}

.CellButton {
	width: inherit;
	height: inherit;
	border: $borderSize solid black;
	padding: none;
	text-align: center;
}

.CellButton:focus {
	outline: none;
}
