@import "./../../utils/variables";

.GridRow {
	border: none;
	padding: 0;
	margin: 0;
	height: $cellSize - $borderSize - $borderSize;
	margin-bottom: $borderSize;
}

.Grid {
	text-align: center;
	display: block;
	white-space: nowrap;
	background-color: $mainColor;
}
