$mainColor: Tan;
$wallColor: Grey;
$cellSize: 1rem;
$borderSize: 1px;
$startPoint: lightGreen;
$finishPoint: rgb(192, 67, 67);
$defaultRows: 10;
$defaultCols: 10;

:export {
	mainColor: $mainColor;
	wallColor: $wallColor;
	cellSize: $cellSize;
	defaultRows: $defaultRows;
	defaultCols: $defaultCols;
}
