$mainColor: #a98274;
$wallColor: #616161;
$cellSize: 27px;
$borderSize: 2px;
$startPoint: lightGreen;
$finishPoint: #d50000;
$defaultRows: 10;
$defaultCols: 10;

:export {
	mainColor: $mainColor;
	wallColor: $wallColor;
	cellSize: $cellSize;
	defaultRows: $defaultRows;
	defaultCols: $defaultCols;
}
